 *{
    margin: 0;
    padding: 0;
    list-style: none;
}

html{
    font-family: 'Source Sans Pro', sans-serif;
}
a{
    text-decoration: none;
}

header{
    background-color:#525050;
    height: 8rem;
    margin: 5px;
    position: sticky;
    top: 0;
    z-index: 4;
}

header section{
    display: flex;
    justify-content: space-between;
}

.pheader{
    font-size: 35px;
    color: aliceblue;
}

.fotologo{
    margin: auto;
    padding: 4px;
}

header nav ul{
    display: flex;
    align-items: center;
    margin-left: 3rem;
    padding: 2rem;
    height: 4rem;
}

header nav ul li{
    margin: 5px;
}

header nav ul li a{
    color: white;
    border-bottom: 5px solid #716C6C;
}

header nav ul li a:hover{
    background:  #7C5548;
    transition: 2s;
    color:black;
}

.main1{
    width: 70%;
    margin: auto;
}

h2{
    margin: 3rem;
    text-align: center;
}

h3{
    margin: 3rem;
    font-size: 2rem;
}
.hyc{
    color:black;
    letter-spacing: 1px;
    line-height: 20px;
    font-size: 18px;
    padding: 20px;

    font: italic;
}
body{
background-color: rgb(184, 178, 178)
}
body main section a{
    padding: 25px;
}

.main1{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.main1 h2, h3{
    border-style: double;
}

.main2 h2, h3{
    border-style: double;
}

.resena{
    width: 40%;

}

.formulario{
display: flex;
flex-wrap: wrap;
width: 30%;
padding: 60px 35px;
text-align: center;
}

/**FORMULARIO**/

.formulario input{
    width: 50%;
    text-align: center;
    
}

input {
    border: none;
  }
  
  button:focus {
    outline: none;
  }
  
  ::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.65);
  }
  
  ::-webkit-input-placeholder .input-line:focus +::input-placeholder {
    color: #fff;
  }
  
  .highlight {
    color: rgba(83, 23, 23, 0.8);
    font-weight: 400;
    cursor: pointer;
    transition: color .2s ease;
  }
  
  .highlight:hover {
    color: #fff;
    transition: color .2s ease;
  }
  
  .spacing {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    height: 120px;
    font-weight: 300;
    text-align: center;
    margin-top: 10px;
    color: rgba(255, 255, 255, 0.65)
  }
  
  .input-line:focus {
    outline: none;
    border-color: #fff;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
  }
  
  .ghost-round {
    cursor: pointer;
    background: none;
    border: 1px solid rgba(255, 255, 255, 0.65);
    border-radius: 25px;
    color: rgba(255, 255, 255, 0.65);
    -webkit-align-self: flex-end;
    -ms-flex-item-align: end;
    align-self: flex-end;
    font-size: 19px;
    font-size: 1.2rem;
    font-family: roboto;
    font-weight: 300;
    line-height: 2.5em;
    margin-top: auto;
    margin-bottom: 25px;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
  }
  
  .ghost-round:hover {
    background: rgba(19, 18, 18, 0.15);
    color: #fff;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
  }
  
  .input-line {
    background: none;
    margin-bottom: 10px;
    line-height: 2.4em;
    color: #fff;
    font-family: roboto;
    font-weight: 300;
    letter-spacing: 0px;
    letter-spacing: 0.02rem;
    font-size: 19px;
    font-size: 1.2rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.65);
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
  }
  
  .full-width {
    width: 100%;
  }
  
  .input-fields {
    margin-top: 25px;
  }
  
  .container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    background: #eee;
    height: 100%;
  }
  
  .content {
    padding-left: 25px;
    padding-right: 25px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: column;
    -ms-flex-flow: column;
    flex-flow: column;
    z-index: 2;
  }
  
  .welcome {
    font-weight: 200;
    margin-top: 75px;
    text-align: center;
    font-size: 40px;
    font-size: 2.5rem;
    letter-spacing: 0px;
    letter-spacing: 0.05rem;
  }
  
  .subtitle {
    text-align: center;
    line-height: 1em;
    font-weight: 100;
    letter-spacing: 0px;
    letter-spacing: 0.02rem;
  }
  
  .menu {
    background: rgba(0, 0, 0, 0.2);
    width: 100%;
    height: 50px;
  }
  
  .window {
    z-index: ;
    color: #fff;
    font-family: roboto;
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: column;
    -ms-flex-flow: column;
    flex-flow: column;
    box-shadow: 0px 15px 50px 10px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    height: 560px;
    width: 360px;
    background: #fff;
    background: url('https://pexels.imgix.net/photos/27718/pexels-photo-27718.jpg?fit=crop&w=1280&h=823') top left no-repeat;
  }
  
  .overlay {
    background: -webkit-linear-gradient(#525050, #B09FA1);
    background: linear-gradient(#525050, #B09FA1);
    opacity: 0.85;
    filter: alpha(opacity=85);
    height: 560px;
    position: absolute;
    width: 360px;
    z-index: 1;
  }
  
  .bold-line {
    background: #e7e7e7;
    position: absolute;
    top: 0px;
    bottom: 0px;
    margin: auto;
    width: 100%;
    height: 360px;
    z-index: 1;
    opacity:0.1;
      background: url('https://pexels.imgix.net/photos/27718/pexels-photo-27718.jpg?fit=crop&w=1280&h=823') left no-repeat;
    background-size:cover;
  }
/**ACA TERMINA EL FORMULARIO**/

.btnenv{
    width: 2rem;
    height: 3rem;
}

.btnenv:hover {
background: #7C5548;;
transition: 1s;
}

.videoindex{
    padding: 3rem;
    position: relative;
    text-align: center;
}

.pagof{
    text-align: center;
    padding: 1rem;
}

.pagof:hover{
    background-color: red;
    transition: 3s;
}

footer{
    background-color: #525050;
    padding: 20px 40px;
    text-align: center;
    color: white;
    font-size: medium;
    margin: 5px;
}

footer nav a{
    color:black;
}



.navfooter{
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    margin: 3rem;
}

.fab{
    font-size: 2rem;
}

.fab:hover{
    font-size: 4rem;
    background-color: black;
    color:#7C5548;
    transition: 2s;
}

/*cubanos */

.main2{
    display: block;
    width: 85%;
    text-align: center;
    margin: auto;
}



.h2cubano {
    width: 100%;
    margin: 1rem 10px;
}

.cuba2 ul li{
    display: inline;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    text-align: center;
}

.cubimag{
    padding: 2rem;
}

/*DOMINICANO*/



.fotodomi ul li{
    display: inline;
}

.fotodomi{
    padding: 2rem;
}

/*NICARAGUA*/

.fotonica ul li{
    display: inline;
}

.fotonica{
    padding: 2rem;
}

/*consejos*/

.fotosz{
    padding: 2rem;
}

.videoconsejo{
    text-align: center;
    padding: 2rem;

}
